body {
    font-size: 18px;
    color: #6c767d;
    background-color: #ebf1f5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 800px;
}

h2{
    color: black;
}
label{
    color: aqua;
}
.getid {
    width: 80%;
    max-width: 650px;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
    top: 25%;
    right: 0;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.in{
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.click{
    width:255px;
    height:60px;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}
