* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input[type=submit],
input[type=button] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

img {
    border: none;
}

body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(#);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.s-name {
    font-size: 80px;
    height: 130px;
}

#box {
    width: 100%;
    min-height: calc(100% - 10rem);
    margin: 0 auto;
    padding-top: 1.5rem;
}

.card {
    margin: 0 auto 20px;
    text-align: center;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    padding: 0.5rem;
    transition: all 0.4s;
    max-width: 300px;
}

.card:hover {
    margin: 0 auto 10px;
    text-align: center;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    padding: 0.5rem;
    transition: all 0.4s;
    max-width: 300px;
}

.img-title {
    margin-bottom: 1rem;
    color: rgb(100, 100, 100);
    font-size: 1.2rem;
    font-weight: bold;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin-top: -50px;
    border-radius: 100%;
}

.campus {
    width: 7rem;
    height: 7rem;
    margin: 0.3rem;
    border-radius: 20%;
    transition: all 0.4s;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
}

.campus:hover {
    width: 9rem;
    height: 9rem;
    margin: 0.5rem;
    border-radius: 20%;
    transition: all 0.4s;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

.title {
    width: 75%;
    height: 55px;
    font-size: 25px;
    line-height: 55px;
    font-weight: bold;
    margin: 5px auto 0;
    border-bottom: 3px solid #3192d2;
}

.go-back-button {
    position: absolute;
    text-align: center;
    margin: 2rem 2rem 0rem;
    bottom: 0.2rem;
}


.broadcastMe .broadcastMe-list .broadcastMe-item img {
    border-radius: 2rem;
    object-fit: cover;
    min-height: calc(100% - 10rem);
}

