body, html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(#);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.container-login100 {
    display: flex;
    padding: 1rem;
    min-height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap-login100 {
    width: 70%;
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    margin-bottom: 20%;
    color: #333333;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

.login100-form-avatar {
    display: block;
    overflow: hidden;
    margin: auto auto 10%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

.login100-form-avatar img {
    width: 100%;
}

.wrap-input100 {
    position: relative;
    margin: 1rem 1rem 2rem;
    border-bottom: 2px solid #d9d9d9;
}

.input100 {
    display: block;
    padding: 0 5px;
    width: 100%;
    height: 52px;
    background: transparent;
    font-size: 1.2rem;
    font-family: serif;
    line-height: 1.2;
}

.focus-input100 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80%;
    height: 100%;
    pointer-events: none;
}

.focus-input100::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #57b846;
    content: "";
    transition: all 0.4s;
}

.focus-input100::after {
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    padding-left: 5px;
    width: 100%;
    content: attr(data-placeholder);
    font-size: 1.2rem;
    line-height: 1.2;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -20px;
    font-size: 1rem;
}

.input100:valid + .focus-input100::after {
    top: -20px;
    font-size: 1rem;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.container-login100-form-btn {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    width: calc(100% - 4rem);
    height: 3rem;
    border-radius: 2rem;
    background-color: rgb(199 20 20);
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2;
    transition: all 0.4s;
    backdrop-filter: saturate(180%) blur(20px);
}

.validate-input {
    position: relative;
}

.err-text {
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: red;
    text-align: center;
    white-space: pre-line;
    transition: all 0.4s;
}

.footer {
    padding-top: 1rem;
    color: #555555;
    text-align: center;
    font-size: 0.8rem;
}

.view-box {
    padding: 4rem 1rem 1rem;
}

.info-filed {
    margin: 0.5rem;
    color: #003A80;
    font-weight: bold;
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

input[type=submit],
input[type=button] {
    cursor: pointer;
}

img {
    width: 95vw;
    border: none;
    object-fit: cover;
}

.s-name {
    height: 130px;
    font-size: 80px;
}

.box {
    position: absolute;
    right: 1rem;
    left: 1rem;
    margin: 0 auto 5rem;
    padding: 0.5rem;
    width: 85%;
    height: calc(100% - 15rem);
    max-width: unset !important;
}

.card {
    margin: 0 auto 1rem;
    padding: 1vw;
    max-width: 90vw;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    text-align: center;
    transition: all 0.4s;
}

.flex-contain {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.card:hover {
    margin: 0 auto 10px;
    padding: 0.5rem;
    max-width: 90vw;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    text-align: center;
    transition: all 0.4s;
}

.img-title {
    margin-bottom: 1rem;
    color: rgb(100, 100, 100);
    text-align: center;
    font-weight: bold;
    font-size: 5vmin;
}

.logo {
    margin-top: -50px;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

.campus {
    margin: 0.3rem;
    width: 18vmax;
    height: 18vmax;
    border-radius: 20%;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    transition: all 0.4s;
    object-fit: cover;
}

.campus:hover {
    margin: 0.4rem;
    width: 14vmax;
    height: 14vmax;
    border-radius: 20%;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    transition: all 0.4s;
    object-fit: cover;
}

.title {
    margin: 5px auto 0;
    width: 75%;
    height: 55px;
    border-bottom: 3px solid #3192d2;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
}

.go-back-button {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 5rem);
    max-width: 10rem;
    text-align: center;
}

.tip-card {
    margin: 0.5rem;
    padding: 1rem;
    min-width: 30%;
    border-radius: 20px;
    background: rgba(24, 157, 245, 0.8);
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    color: #ffffff;
      transition: all 0.4s;
}

.tip-card:hover {
    margin: 0.8rem;
    padding: 1rem;
    min-width: 30%;
    border-radius: 20px;
    background: rgba(24, 157, 245, 0.6);
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    color: #ffffff;
      transition: all 0.4s;
}