<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href=" /static/css/getID.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/animate.compat.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>新生查寝室系统</title>
</head>

<body>
<div style="padding: 4rem 1rem 1rem;">
    <div class="card animated swing ">
        <img class="logo" src="/static/images/logo1.png" onclick="window.location.href = '.'">
    </span>
        {% if sname %}
            <p class="title s-name">您的信息</p>
            <p style="margin:0.5rem;font-size:1.6rem;color: rgb(0, 0, 0);"><b>
                欢迎
            </b></p>
            <p style="margin:0.5rem;font-size:{% if sname|length <= 5 %}2rem{% else %}1.5rem{% endif %};color: rgb(83, 157, 255);">
                {{ sname }}
            </p>
            <p style="font-weight: bold">您的寝室是</p>
            <p style="margin:0.5rem;font-size:1.3rem;color: rgb(83, 157, 255);">
                {{ shouse }} {{ sroom }} 🛏{{ sbed }}
            </p>
            {% if roommate %}
                <p style="font-weight: bold">您的室友是</p>
            {% endif %}
            {% for mate in roommate %}
                <p style="margin:0.5rem;font-size:1.2rem;">
                    {{ mate.sname }} {{ mate.sclass }} 🛏{{ mate.sbed }}
                </p>
            {% endfor %}
        {% else %}
            <script>window.location = "./"</script>
        {% endif %}
    </div>
    {% if request.session.sname %}
        {% for typename,url_list in img_list.items %}
            <div style="text-align: center">
                <p class="img-title">{{ typename }}</p>
            </div>
            <div class="card">
                {% for url in url_list %}
                    <img class="campus" src="{{ url }}"
                         onclick="window.location='./imgShow?type={{ forloop.counter }}'">
                {% endfor %}
            </div>

        {% endfor %}
    {% endif %}

    <h5 class="footer">浙江工业大学&精弘网络 © 2020 All Right Reserved </h5>

</div>
</body>

</html>