<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href=" /static/info.css" rel="stylesheet" type="text/css">
    <title>新生查学号系统</title>

</head>
<body background="/static/back.jpg">
<div class="getid">
    <form action="" method="post">
        {% csrf_token %}
        <h2>welcome zjuter</h2>
        <P>{{ massage }}</P>
        <p>
            <label for="sname">姓名：</label>
            <input type="text" name="sname" class="in" placeholder="姓名" autofocus required/>
        </p>

        <p>
            <label for="sname">准考证号：</label>
            <input type="txet" name="sid" placeholder="准考证号" class="in" required>
        </p>
        <input type="submit" class="click" value="确定" >
         {% if message %}
        <div class="text1"><b><font color="#dc143c"> {{ message }}</font></b></div>
         {% else %}
             {% if sname %}
            <p ><b><font color="blue">欢迎 ZJUTer ,{{sname}}</font></b></p>
            <p ><b><font color="blue">您的学号为{{scard}}</font></b></p>
                 <p ><b><font color="blue">你所在的寝室为{{sroom}}</font></b></p>
                 {% endif %}
         {% endif %}

    </form>



</div>

</body>
</html>