<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" CONTENT="private,must-revalidate">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" href="/static/css/broadcast-me.css">
    <link rel="stylesheet" href="/static/css/animate.compat.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/getID.css">
    <title>校内场景查看</title>
</head>
<body>
<div>
    <h1 class="animated bounceInLeft title img-title" style="text-align: center;margin-top: 2rem;font-size: 2rem">
        校园风光
    </h1>

    <div id="box" style="width:85%;margin-bottom: 5rem">
    </div>

    <button onclick="window.history.back()" class="go-back-button login100-form-btn">返回</button>

    <script src="/static/js/broadcast-me.js"></script>
    <script>
        const box = document.querySelector('#box');
        const imagesAndUrl = [];
        const temp = JSON.parse('{{imgList|safe}}');
        for (let i = 0; i < temp.length; i++)
            imagesAndUrl.push({imgSrc: temp[i]});

        const broadcast = new Broadcast(box, imagesAndUrl, {
            transitionTime: 800, // 动画过渡时间，默认为800ms
            intervalTime: 5000 // 图片切换时间，默认为5s
        });
    </script>
</div>


</body>

</html>