<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" CONTENT="private,must-revalidate">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href=" /static/css/getid.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/broadcast-me.css">
    <link rel="stylesheet" href="/static/css/animate.compat.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/getid.css">
    <title>校内场景查看</title>

</head>

<body>
  {% if request.session.sname %}
  <div id="box" style="width:80%;height:80%;margin-top: -3rem;">
  </div>
  <div class="goback_button">
    <div style="width: 100%;text-align: center;">
      <button onclick="window.history.back()" class="login100-form-btn">返回</button> 
    </div>
</div>

  <!-- 引入插件的js文件 -->
  <script src="/static/js/broadcast-me.js"></script>
  <script>
    var box = document.getElementById('box');
    var imagesAndUrl = []
    // [
    // // '{% for item in imglist %}'
    // // ,{ imgSrc : '{{item}}' },
    // // '{% endfor %}'
    // {imgSrc : '/static/images/campus/屏峰校区内景/1.jpg'},
    // {imgSrc : '/static/images/campus/屏峰校区内景/2.jpg'},
    // ];
    var temp=JSON.parse('{{imglist|safe}}');
    // console.log(temp);
    for(var i=0;i<temp.length;i++){
      imagesAndUrl.push({imgSrc:temp[i]});
    }
    var broadcast = new Broadcast(box,imagesAndUrl,{
      transitionTime : 800, // 动画过渡时间，默认为800ms
      intervalTime : 5000 // 图片切换时间，默认为5s
    });
  </script>

{% else %}
<div id="box">
  <div id="boox" class="animated swing">
      <img class="touxiang" src="/static/images/logo1.png" onclick="window.location.href = '../index'">
      <p class="title animated bounceInLeft">请回到原地址输入信息登录</p>
      <p class="lizhi" style="color:gray">点击头像返回上一层</p>
      </div>
      </div>
{% endif %}
</body>

</html>