{#{% load cache %}#}
{#{% cache 5000 'cache_index' %}#}
<!DOCTYPE html>
<html lang="zh-CN">
<head><title>{{ title }}查询</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="container-login">
    <div class="card wrap-login flex-contain">
        <span class="login-form-title">Welcome ZJUTer</span> <span class="login-form-avatar"><img
            src="/static/images/logo1.png" alt="logo"></span>
        <form class="login-form validate-form" action="{{ url }}" method="post" novalidate="novalidate"
              onsubmit='return checkForm()'>{% csrf_token %}
            <div class="wrap-input validate-input">
                <input id="stuName" class="input" type="text" name="sname" required>
                <span class="focus-input" data-placeholder="🧑姓名"></span></div>
            <div class="wrap-input validate-input"><input id="stuID" class="input" type="text" name="sid" required>
                <span class="focus-input" data-placeholder="💳身份证号"></span></div>{% if message %}
                <div class="err-text"><b>{{ message }}</b></div>{% endif %}
            <input type="submit" class="login-form-btn" value="确定">
        </form>
    </div>
</div>
<script src="/static/js/utils.js"></script>
<h5 class="footer">注：学号非2020开头的同学请用学号代替身份证号</h5>
<h5 class="footer">浙江工业大学&精弘网络 © 2020 All Rights Reserved</h5>
</body>
</html>
{#{% endcache %}#}